@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Cinzel:wght@500&family=Merriweather:wght@300;400&family=Pacifico&family=Tangerine:wght@700&display=swap');

.custom-toggler .navbar-toggler-icon {
  color: white;
}


.title {
  font-family: 'Cinzel', serif;
  padding-left: 30px;
  letter-spacing: 7px;

}

.custom-dropdown {
  background-color: black;
}

.custom-dropdown .dropdown-menu {
  background-color: black;
}

.custom-dropdown .dropdown-item {
  color: white;
}

.custom-dropdown .dropdown-item:hover,
.custom-dropdown .dropdown-item:focus {
  background-color: black;
  color: white;
}

.custom-dropdown .dropdown-toggle {
  color: white;
}


.icon-link {
  margin-right: 8px;
  text-decoration: none;

}

.link-text {
  font-family: 'Cinzel', serif;
  letter-spacing: 2px;
  padding: 10px;
  margin-right: 8px;
  font-size: large;
  color: white;
}

.navbar {
  margin: auto;
}